---
title: "{{name}}"
anchor: "{{name:anchor}}"
weight: 800
---

{{#attack powers}}
- {{name}}. *{{fluff}}*
  - {{keywords}}
  - Level {{level}}, {{rarity}}
  - {{action}}
  - Range: {{range}}
  - Target: {{target}}
  - Attack: {{attack}}
  - Hit: {{hit}}
  - Miss: {{miss}}
{{/attack powers}}

{{#utility powers}}
- {{name}}. *{{fluff}}*
  - {{keywords}}
  - Level {{level}}, {{rarity}}
  - {{action}}
  - Range: {{range}}
  - Target: {{target}}
  - Effect: {{effect}}
{{/utility powers}}
